.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  

    /* outline: 2px solid red; */
    /* outline - рамка для обведення контенту */

@media screen and (min-width: 480px) {
  max-width: 480px;
  
}

@media screen and (min-width: 768px) {
    max-width: 768px;
  
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
}
}


.menu-container {
    background-color: #fff;
    @media screen and (max-width: 767px){
    width: 100vw;
    height: 100vh;
    max-width: 480px;
    padding: 48px 40px;
    z-index: 1;
    overflow: scroll;
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 100%;
}
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    }
}

.menu {
    @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 32px
    }
}


@media screen and (max-width: 767px) {
.menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}

.hero__container {
    padding: 0;
}